<div class="col-sm-4">
    <div class="well boxAnswer">

        <div class="question">
            <h3 class=""><span class="{{icon}}"></span> {{question|title}}? 
                {#{% if verdict %}
                    <img src="/exercise/icons/bon.png" alt="" class="imgverd">
                {% else %}
                    <img src="/exercise/icons/mauvais.png" alt="" class="imgverd">
                {% endif %}#}
            </h3>		
        </div>


        <div style="text-align:center">
            <h4></h4>
            <div style="position:relative;">
                <img src="{{ asset( resp.getImageView()) }}" class="img-thumbnail inl respimg">
                {% if not verdict %}
                <img src="http://www.icone-png.com/png/19/18859.png" style="" class="answer_wrong">
                {% else %}
                <img src="https://s3-eu-west-1.amazonaws.com/younbin/assets/icons/checkmark.png" style="" class="answer_wrong">
                {% endif %}

            </div>
            <hr>
            <div>
                {% if not verdict %}
                <a>Voir la bonne réponse</a>
                <div style="display:none;"><img src="{{ asset( correct.getImageView()) }}" class="img-thumbnail inl respimg"></div>

                
                {% endif %}

            </div>

        </div>

    </div>	
</div>	
	

