{% extends "layout_user.html.twig" %}


{% block accueil_actif %} class="active" {% endblock %}

{% block content %}

<h1>Qui-Quand-Où </h1>
<p>Ca y est</p>



{{ form_start(form) }}
    <h3>Session d'exercices</h3>
    {{ form_row(form.difficulty) }}

    <!--<h3>Travailler un exercice en particulier</h3>-->
    <input type="submit" class="btn btn-primary" value="Lancer l'atelier" />
{{ form_end(form) }}




{% endblock %}


