{% extends "layout_user.html.twig" %}


{% block accueil_actif %} class="active" {% endblock %}

{% block content %}

<h1>Qui-Quand-Où </h1>
<p>Ca y est</p>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Lancer l'atelier" />
{{ form_end(form) }}

{% endblock %}


