{% extends "layout_user.html.twig" %}

{% block lancer_actif %} class="active" {% endblock %}

{% block content %}





<div class="row">
	<div class="jumbotron .col-md-8 ">
		<h1 class="story">{{story.title}}</h1><br>
		<p class="story">{{story.text}}</p>

		{% if not story.sound is empty %}
			<audio src="{{asset(story.getSoundSrc())}}" controls>Veuillez mettre à jour votre navigateur !</audio>
		{% endif %}
	</div>
</div>


<form action="{{ path('quiquandou_check') }}" method="POST">

	{% include 'ExerciseBundle:Default:question.html.twig' 
		with {icon: 'glyphicon glyphicon-user', question: 'qui', thumbnails_liste: thumbnails_qui} %}
	{% include 'ExerciseBundle:Default:question.html.twig' 
		with {icon : 'glyphicon glyphicon-hourglass', question: 'quand', thumbnails_liste: thumbnails_quand} %}
	{% include 'ExerciseBundle:Default:question.html.twig' 
		with {icon : 'glyphicon glyphicon-screenshot', question: 'ou', thumbnails_liste: thumbnails_ou} %}


	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<button type="submit" class="btn btn-warning btn-outline btn-lg btn-block story"> Valider mes réponses</button>
		</div>
	</div>
</form>

<br><br><br>

{% endblock %}