{% extends "layout_user.html.twig" %}

{% block lancer_actif %} class="active" {% endblock %}

{% block content %}





<div class="row">
	<div class="jumbotron story ">
		<h1 >{{story.title | capitalize }}</h1><br>
		<p >{{story.text | nl2br }}</p>

		{% if not story.sound is empty %}
			<p><audio src="{{asset(story.getSoundSrc())}}" controls>Veuillez mettre à jour votre navigateur !</audio></p>
		{% endif %}
	</div>
</div>


<form action="{{ path('quiquandou_check') }}" method="POST">

	{% include 'ExerciseBundle:Default:question.html.twig' 
		with {icon: 'glyphicon glyphicon-user', question: 'qui', form: 'qui', thumbnails_liste: thumbnails_qui} %}
	{% include 'ExerciseBundle:Default:question.html.twig' 
		with {icon : 'glyphicon glyphicon-hourglass', question: 'quand', form: 'quand', thumbnails_liste: thumbnails_quand} %}
	{% include 'ExerciseBundle:Default:question.html.twig' 
		with {icon : 'glyphicon glyphicon-screenshot', question: 'où', form: 'ou', thumbnails_liste: thumbnails_ou} %}


	<div class="row" style="margin-top:25px;">
		<div class="col-sm-6 col-sm-offset-3">
			<button type="submit" class="btn btn-primary  btn-lg btn-block"> Valider mes réponses</button>
		</div>
		<!--<div class="col-sm-2">
			<button type="submit" class="btn btn-danger  btn-lg btn-block">J'ai terminé</button>
		</div>-->
	</div>

	
</form>

<br><br><br>

{% endblock %}