{% extends 'layout_anonymous.html.twig' %}

{% block content %}

<div class="row" >
    <div class="col-md-6 col-md-offset-3" style=" margin-top: 50vh; transform: translateY(-50%);">
        <h1>Atelier Qui-Quand-Où</h1>

        <p>L’objectif de cet atelier est de réussir à identifier les éléments
        importants d’une histoire en faisant répondre aux élèves à trois questions élémentaires (qui ?
        quand ? où ?).</p>



        <h2>Avant de commencer</h1>
        <p>Pour utiliser l'application, il faut commencer par s'authentifier.</p>

        <p><a class="btn  btn-primary btn-lg btn-block" href="{{path('login')}}"><i class="fa fa-hand-o-up" aria-hidden="true"></i> Commencer</a></p>
    </div>
</div>
{% endblock %}


