{% extends 'layout_anonymous.html.twig' %}

{% block content %}

<h1>Atelier Qui-Quand-Où</h1>

<p>Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes annuos fructus, quae a primo ad ultimum solem se abunde iactitant possidere, ignorantes profecto maiores suos, per quos ita magnitudo Romana porrigitur, non divitiis eluxisse sed per bella saevissima, nec opibus nec victu nec indumentorum vilitate gregariis militibus discrepantes opposita cuncta superasse virtute.</p>

<p>Hacque adfabilitate confisus cum eadem postridie feceris, ut incognitus haerebis et repentinus, hortatore illo hesterno clientes numerando, qui sis vel unde venias diutius ambigente agnitus vero tandem et adscitus in amicitiam si te salutandi adsiduitati.</p>


<h2>Avant de commancer</h1>
<p>Pour utiliser l'application, il faut commencer par s'authentifier.</p>

<p><a class="btn btn-outline btn-primary btn-lg" href="{{path('login')}}"><i class="fa fa-hand-o-up" aria-hidden="true"></i> Commencer</a></p>
    
{% endblock %}


