{% extends "layout_admin.html.twig" %}


{% block content_title %}Exporter des données{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-6">

        {{ form_start(form) }}       

        {{ form_end(form) }}

    </div>

</div>





{% endblock %}

