{% extends 'layout_admin.html.twig' %}


{% block content_title %}Administration{% endblock %}

{% block content %}
<div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{students_nb}}</div>
                                    <div>Elèves</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('user_index')}}">
                            <div class="panel-footer">
                                <span class="pull-left">Voir la liste</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{exercises_nb}}</div>
                                    <div>Exercices</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('admin_exercise_index')}}">
                            <div class="panel-footer">
                                <span class="pull-left">Voir la liste</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
</div>


{% include 'SchoolBundle:user:lastdone.html.twig' 
                            with {exercises_lastDone: exercises_lastDone} %}

{% endblock %}