body{
    background-color:#0b4211;
    color:white;
    font-family: Verdana, Geneva, sans-serif;
    font-size:16px;
    
  }


  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color:#fbdda1;
    /*border-bottom:2px solid;*/
  }

  h1.story {
    text-transform: title;
  }

  .story{
    /*font-family: "belle_allure", serif;    */
  }

  .story p{
    /*font-size:25px;*/
  }

  p.story::first-letter { 
    /*font-size: 200%;*/
    text-transform: uppercase;
    /*color: #8A2BE2;*/
}

  .jumbotron{
    color:black;
  }

  .question_title{
    background-color:#3e1926;
    padding:4px 10px 2px 10px;
    border:1px solid grey;
    display:inline-block;
    border-radius:10px;
  }

.question_choice, .question_answers .question_answer{
  background-color:white;
  border-radius:6px;
  padding:10px;
  border:2px solid black;
  display:inline-block;
  background-image:linear-gradient(white, #b0bdba);
  /*background-image:url(https://static.vecteezy.com/system/resources/previews/000/139/911/original/vector-grey-gradient-abstract-background.jpg);*/
}

.question_answers{
  display:none;
}
.question_choice{  
  width:200px;
  max-width:200px;
  min-width:150px;
  cursor:pointer;
  
}

.question_answers .selected{
  background-color:yellow;
  background-image:linear-gradient(white, yellow);
}

.question_answers .wrong_answer{
  
}

/*.question label:hover{
  border:2px dotted black;
}*/

/*.question_answers label img{
  border: 1px solid #bec2bb;
}*/

.question_answer input{
  display:non;  
  margin:auto;
}

.question .title{
  cursor:pointer;
}

.boxAnswer{
  background-color:#604444;
}


  @font-face 
	{
	  font-family: "belle_allure";
    src:    url('/fonts/Cursive standard.ttf');
	  
	}

@font-face 
{
  font-family: "BebasNeue";
  src:    url('/fonts/libel-suit-rg.ttf');
}

.imgverd{
  height: 35px;
}


h3.jumbo {
  color:black;
}

.inl {
  display: inline;
}

.respimg {
  max-height: 130px; 
  /*background-color:#fff;*/
}

.answer_wrong{
  opacity:0.8;
  position:absolute;
  max-width:70px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

/* 

right answer#336930
*/

.padding-0 {
  padding: 0px;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.padding-lr-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.monaudio {
  float: right;
  padding-top: 20px;
}

.monaudio i {
  font-size: 75px;
}
