{% extends 'layout_admin.html.twig' %}

{% block content %}
    <h1>Liste des vignettes</h1>
    <div class="row">
        {% for thumbnail in thumbnails %}
        <div class="col-lg-2 " >
            {% include 'ExerciceBundle:thumbnail:panel.html.twig' with {
                'title': thumbnail.name,
                'image':asset(thumbnails_directory ~'/' ~ thumbnail.image),
                'footer':'Type : '~thumbnail.type~''
                } only %}
              
        </div>       
                            
        {% endfor %}
    </div>


   
     
   

    <ul>
        <li>
            <a href="{{ path('admin_thumbnail_new') }}">Ajouter une nouvelle vignette</a>
        </li>
    </ul>

   {#<div><a href="{{ path('admin_thumbnail_delete', { 'id': thumbnail.id }) }}">Supprimer</a></div>#}
{% endblock %}
